:root {
    --bg-colour: #efefef;
    --primary-colour: #2E5266;
    --secondary-colour: #6E8898;

    --bg-colour--dark-scheme: #2E5266;
    --primary-colour--dark-scheme: #D3D0CB;
    --secondary-colour--dark-scheme: #6E8898;
    --font-family: 'Courier';

    --text-colour: var(--primary-colour);
    --blue: hsl(204, 81%, 74%);
    --blue-shade: hsl(204, 81%, 74%, 60%);
    
}

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    -webkit-app-region: drag;
}

body {
    display:grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: minmax(1fr, 600px);
    background-color: var(--bg-colour);
}

.list {
    max-width:600px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    padding: 2rem;
} 

input {
    font-size: 0.875rem;
    background-color: transparent;
    padding: 0.75rem;
    width: 100%;
    color: var(--text-colour);
    border: none;
    font-weight: bold;
    font-family: var(--font-family);
    opacity: 0.6;
}

button {
    font-family: var(--font-family);
    color: var(--text-colour)
}

input:focus {
    outline: none;
    opacity: 1;
}

input::placeholder {
    color: var(--colour--secondary);
}

.btn, .list-item__delete {
    background-color: transparent;
    font-weight: light;
    border: none;
    border: 2px solid hsl(204, 81%, 74%);
    border-right: none;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-right: -2px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    box-shadow: none;
    padding: 0.75rem;
    font-weight: bold;
    z-index: 2;
}

.ui {
    width: calc(100% - 2rem);
    max-width: 600px;
    margin:auto;
    bottom: 16px;
    margin-top: 16px;
    position:relative;
    grid-row: 2;
}


.ui-controls {
    display: flex;
}


.list {
    grid-gap: 1rem;
    overflow-y: auto;
    position: relative;
}

.list-item {
    padding: 0.75rem;
    color: var(--text-colour);
}


.list-item__delete { 
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
    border-radius: 0 8px 8px 0;
    height: calc(100% + 4px);
}


.layer, .list-item {
    display: block;
    position: relative;
    border: 2px solid var(--blue, #000000);
    border-radius: 8px;
    background-color: var(--bg-colour);
}

.list-item > span {
    display: inline-block;
    max-width: 90%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}

.layer:after, .list-item:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    border-radius: 8px;
    z-index: -1;
    background: repeating-linear-gradient(
        -45deg, 
        var(--blue-shade, rgba(0,0,0,0.5)) 0px, 
        var(--blue-shade, rgba(0,0,0,0.05)) 4px, 
        var(--blue, rgb(0,0,0)) 4px, 
        var(--blue, rgb(0,0,0)) 6px
    );
}

.layer--active {
    transform: translate(5px, 5px);
}

.layer--active:after {
    transform: translate(-5px, -5px);
}

.list-item[done] {
    opacity: 0.25;
}

.list-item[done]:after {
    transform: translate(-10px, -10px);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-colour: var(--bg-colour--dark-scheme);
        --primary-colour: var(--primary-colour--dark-scheme);
        --secondary-colour: var(--secondary-colour--dark-scheme);
    }
}

